html{
    background-color: black;
    height: 100%;
}

#container{
    height: 450px;
    width: 450px;
    background-color: white;
    margin: 100px auto;
    text-align: center;
    border: 3px solid yellow;
}

#image{
    height: 450px;
    width: 450px;
}

.btn{
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin: 10px;
    background-color: yellow;
    color: black;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 20px;

}